!!! XML
!!! STRICT
%html{:lang => 'en', 'xml:lang' => 'en', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv' => 'Content-type', :content => 'text/html; charset=utf-8'}
    %link{:rel => "alternate", :href => "http://3weeksinbrazil.com/posts.xml", :title => "3weeksinbrazil.com posts", :type => "application/rss+xml"}
    %title 3 weeks in Brazil
    %link{:rel => 'stylesheet', :href => '/screen.css', :type => 'text/css', :media => 'screen' }
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/jquery-1.3.2.min.js'}
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/home.js'}
  %body
    #envelope
      %img{:id => 'weeks', :src => '/3_weeks_in_brazil.png', :alt => '3 weeks in Brazil'}
      %a{:id => 'pics', :href => '/pics'}
        %img{:src => '/pics.png', :alt => 'pics'}
      %a{:id => 'index', :href => '/index'}
        %img{:src => '/index.png', :alt => 'index'}
      %a{:id => 'intro', :href => '/intro'}
        %img{:src => '/intro.png', :alt => 'intro'}
