%a{:href => '/'}
  %img{:id => 'weeks-small', :src => '/3_weeks_small.png', :alt => '3 weeks in Brazil'}
  
- @grouped.each do |location, posts|
  - posts.each do |post|
    - if posts.first == post
      %h1.index= location
    %p.post= post.title
= next_page
= previous_page