- @title = "Introduction"
= three_weeks_logo  
%h1.title
:textile
  Hi Internets. I'm "Julio":http://crazyhollywood.org, and this is the most awesome website in the world. I designed and coded it to document a trip to Brazil I take about once every year. Any imperfections that you may find are completely intentional.

  Posts are categorized by where I am in the globe. Check the index for a full list. If you can't be assed with reading what I have to say, (I'm told that happens from time to time) go straight to pics and browse some awesomeness.

  So this is a story of courage, beauty, sadness, conflict, explosions, and heroism. In the end, the good guy wins. I hope you'll enjoy it.

  Good night, and good luck.
