!!! XML
!!! STRICT
%html{:lang => 'en', 'xml:lang' => 'en', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{'http-equiv' => 'Content-type', :content => 'text/html; charset=utf-8'}
    %title 3 weeks in Brazil - Index
    %link{:rel => 'stylesheet', :href => '/screen.css', :type => 'text/css', :media => 'screen' }
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/jquery-1.3.2.min.js'}
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/index.js'}
    %script{:type => 'text/javascript', :charset => 'utf-8', :src => '/home.js'}
  %body
    #pages
      .content
        = yield
  