*       { margin: 0; padding: 0; border: 0 none }
html    { font-family: Optima, "Lucida Grande", sans-serif; font-size: 76% }
body, a { color: #414141 }

a       { text-decoration: none }
a:hover { text-decoration: underline }

/* Layout is static, so we won't be stretching anything ever */
h1  { font-size: 22px }
p   { font-size: 15px; text-indent: 1em }

h1.index  { margin-bottom: 10px }
h1.title  { margin-bottom: 15px }
p.post    { margin: 5px 0 10px 0px }

#envelope { 
  position: relative;
  margin: 0 auto; 
  margin-top: 20px; 
  width: 800px; 
  height: 600px;
  background: #fff url(/envelope.png) top left no-repeat;
}

#pages          { 
  position: relative;
  margin: 20px auto 0;
  width: 672px;
  height: 805px;
  background: transparent url(/pages.png) top left no-repeat; 
}
#pages .content { margin: 0 30px 0 20px }

/* Front page */
#weeks, 
#pics, 
#index, 
#intro,
#next,
#previous { position: absolute }
#weeks    { top: 30px;  left:   60px  }
#pics     { top: 290px; left:   60px  }
#index    { top: 240px; left:   270px }
#intro    { top: 340px; left:   510px }
#next     { top: 725px; right:  60px }
#previous { top: 755px; right:  75px }

#weeks-small  { margin: 40px 0 20px 40px }

#pic          { float: right }